# Object files
*.o
*.ko
*.obj
*.elf
*.exp # Do not want .exp files. 

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
#*.dll # Want to upload the dlls. 
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# No Maple backup files
*.bak
# No mwrap* files
**/mwrap*.*
**/mwrp*.*
**/*.exp
**/*.lib
**/*.obj
**/*.mws
